
body {
	background-color: #F2F1ED;
	margin: 0;
	padding: 0;
}

header {

}

header #social_links {
	height: 50px;
}

header #banner {
	background-image: url(muster_vodelkrallen.png);
	background-image: url(muster_vodelkrallen.png), -webkit-linear-gradient(left, #45BABC, #339999); 
	background-image: url(muster_vodelkrallen.png), -moz-linear-gradient(left, #45BABC, #339999); 
	background-image: url(muster_vodelkrallen.png), -o-linear-gradient(left, #45BABC, #339999); 
	background-image: url(muster_vodelkrallen.png), linear-gradient(left, #45BABC, #339999);
	/*position: absolute;*/
	width: 1000px;
	height: 300px;
}

header div.kreis_bg {
  width: 220px;
  height: 220px;
  border-radius: 110px;
  background-color: #F2F1ED;
  position: absolute;
  z-index: 1;
  top: 250px;
  left: 380px;
  z-index: 1;
}

header div.kreis {
  width: 180px;
  height: 180px;
  border-radius: 90px;
  background-color: #3C3C3B;
  position: absolute;
  z-index: 2;
  margin: 20px;
}


header, #content {
	width: 1000px;
	margin: 0 auto;
	
}


#content p {
	width: 50%;
	float: right;
}
